.dropdown-button {
    display: flex;
    align-items: center;
    gap: 0px;
    background-color: #f7fbff;
    color: black;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-button:hover {
    background-color: white;
    border: 5px 0px solid blue;
  }
  
  .dropdown-menu {
    position: absolute;
    left: 0;
    font-weight: 500;
    width: 100%;
    padding: 0px;
    text-align: left;
    background-color: #f7fbff;
    z-index: 1050 !important;
    border:  none !important;
    border-radius: 0px !important;
  }
  
  .dropdown-item {
    color: #374151;
    text-decoration: none;
    padding-left: 5%;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-item:hover {
    background-color: #dee0e4;
  }
  
  .menu_wrapper {
    display: flex;
    gap: 4px;
    padding: 16px;
    color: white;
    z-index: 400;
    margin-right: 40px;
    font-family: 'Roboto', 'sans-serif';
  }