.btn-primary:active {
    background-color: white; /* Example: Change to an orange color */
    border-color: white;     /* Optionally, change the border color as well */  
}

.btn:hover {
    background-color: white;
}