.navbar {
    display: flex;
    gap: 24px;
    background-color: #1a202c;
    padding: 16px;
    color: white;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-button:hover {
    background-color: white;
    border: 5px 0px solid blue;
  }
  
  .dropdown-menu {
    position: absolute;
    left: 0;
    font-weight: 500;
    margin-top: 2px;
    width: 100%;
    padding: 5px 4px;
    text-align: left;
    background-color: white;
    border: 1px solid #e5e7eb;
    z-index: +80;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-item {
    display: block;
    /* padding: 8px 16px; */
    color: #374151;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-item:hover {
    background-color: #f3f4f6;
  }
  
  .menu_wrapper {
    display: flex;
    gap: 4px;
    padding: 16px;
    color: white;
  }