.navbar_temp {
    width: 100%;
    background-color: #f7fbff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.brand_logo {
    border: none;
    max-height: 58px;
    height: 100%;
    width: fit-content;
}